<form action="/payment/results">
  <div>
    <label for="apr_input">APR</label>
    <input type="text" name="apr" id="apr_input" placeholder="E.g. 5.42">
  </div>
  <div>
    <label for="years_input">Number of years</label>
    <input type="text" name="years" id="years_input" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="princ_input">Principal</label>
    <input type="text" name="princ" id="princ_input" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payments</button>
</form>
