<form action="/random/results">
  <label for="user_min" style="display: block">Minimum</label>
  <input type="text" name="min" id="user_min" style="display: block" placeholder="E.g. 1.5"></input>
  <label for="user_max" style="display: block">Maximum</label>
  <input type="text" name="max" id="user_max" style="display: block" placeholder="E.g. 1.5"></input>
  <button type="submit">Pick random number</button>
</form>
