<form action="square/results">
  <label for="user_number" style="display: block">Enter a number</label>
  <input placeholder="What number do you want to take the square of?" style="display: block"></input>
  <button type="submit">Calculate square</button>
</form>
